@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Mulish:wght@500&family=Open+Sans:wght@500&family=Roboto:wght@900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}


a{
    color: #AA96DB ;
}
.navbar-brand a:hover{
    color: gray;
}
.navbar-brand {
    color: orange;
}

.act {
    color: orange;
    border-bottom: 2px solid orange;
}

.navbar ul li{
    color: white;
}

.navbar ul li a:hover {
    color: orange;
    border-bottom: 2px solid orange;

}

.navbar-toggler{
    background-color: #AA96DB;
    border:none;
    padding: 10px 6px;
    outline: none;
    transition-duration: 0.4s;
}
.navbar-toggler span{
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: orange;
   
}
.navbar-toggler:hover{
    background-color: orange;
    
   
}

.btn{
    background-color: #AA96DB;
    color: orange;
    margin-top: 10px;
}
.btn:hover{
    color: #AA96DB;
    background-color: greenyellow;
}
h1{
    color: gray;
    padding-bottom: 10px;
}

.form-label{
    padding: 10px;
    color: gray;
}
.form-control{
    background-color: #F4D5CE ;
}
