@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Mulish:wght@500&family=Open+Sans:wght@500&family=Roboto:wght@900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}


a{
    color: #AA96DB ;
}
.navbar-brand a:hover{
    color: gray;
}
.navbar-brand {
    color: orange;
}

.act {
    color: orange;
    border-bottom: 2px solid orange;
}

.navbar ul li{
    color: white;
}

.navbar ul li a:hover {
    color: orange;
    border-bottom: 2px solid orange;

}

.navbar-toggler{
    background-color: #AA96DB;
    border:none;
    padding: 10px 6px;
    outline: none;
    transition-duration: 0.4s;
}
.navbar-toggler span{
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: orange;
   
}
.navbar-toggler:hover{
    background-color: orange;
    
   
}


.grid-container {
    height: 700px;
    width: 600px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 250px 50px 50px 50px 100px 100px 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin: auto;


}
.profile{
    
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("Kanye being Kanye.jpeg");
    background-position: center;
    background-size: cover;
}
h1,.title,.about{
    margin-left: 10%;
}
.experience,.album,ul,.skills,.contact,.where,.what,.education{
    margin-left: 20%;
}

 header{
    grid-column: 2/3;
    background-color: #eff0ee;
}
.ulwithexp{
    
    grid-column: 2/3;
    grid-row: 2/-1;
    background-color: #eff0ee;
}

.ulwitheducation{
    grid-column: 1/2;
    grid-row: 2/4;
    background-color: #e0d2cc;  
}
.ulwithskills{
    grid-row: 4/6;
    background-color: #e0d2cc;  
}
.ulwithcontacts{ 
    grid-row: 6/8;
     background-color: #e0d2cc;  
}
.experience,.education,.contact,.skills{
    color:#3a526d;
    text-decoration-line: underline;
}
h1{
    color:#3a526d;
}
.experience{
    margin-top: 1%;
}
.where{
    font-size: small;
    margin-top: 1px;
}
.righthere{
    background: #FF5A5E;
    padding-top: 15px;
}
.header{
    background-color: #3a526d;
}