@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Mulish:wght@500&family=Open+Sans:wght@500&family=Roboto:wght@900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}


a{
    color: #AA96DB ;
}
.navbar-brand a:hover{
    color: gray;
}
.navbar-brand {
    color: orange;
}

.act {
    color: orange;
    border-bottom: 2px solid orange;
}

.navbar ul li{
    color: white;
}

.navbar ul li a:hover {
    color: orange;
    border-bottom: 2px solid orange;

}

.navbar-toggler{
    background-color: #AA96DB;
    border:none;
    padding: 10px 6px;
    outline: none;
    transition-duration: 0.4s;
}
.navbar-toggler span{
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: orange;
   
}
.navbar-toggler:hover{
    background-color: orange;
    
   
}


.header{
    background-image: url("99815.png");
    
    height: 900px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.base{
    position: absolute;
    bottom: 0px;
    
}

.rounded-circle {
    margin-top: 20px;
    
}

.middle{
    height: 80vh;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    color: orange;
}

.middle h1{
    font-size: 60px;

}



